---
title: Frank Alkema - Junior Web Developer
---
<div class="banner">
  <h1> Frank Alkema</h1>
  <h2> Junior Web Developer</h2>

  <%= image_tag "frank_profile.jpg", with: "200" , height: "200" %>


</div>




















<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
